.hidden {
  display: none;
}

.tab {
  width: 80%;
  margin: auto;
}

.breedProgress {
  width: 100%;
  height: 10px;
}

.breederData, .poolData {
  display: inline-block;
  width: 49%;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

td {
  opacity: 0.8;
}

td.better {
  background: green;
}

td.worse {
  background: darkorange;
}

tr.selected td {
  opacity: 1;
  border: 2px solid;
}